## Ignore the Secrets File
secrets.json


## Ignore all .pyc 
*.pyc

## Ignore all Pycache
/__pycache__/


## Ignore all SHP Files
src/shp/project_boundaries/*
!src/shp/project_boundaries/.gitkeep


## Ignore the scratch/working Notebook
scratch.ipynb

## Ignore Testing Outputs
testing/outputs/*
!testing/outputs/.gitkeep

## Ignore Testing Tables
testing/data/gdb/*
!testing/data/gdb/.gitkeep
!testing/data/gdb/QC_Test.gdb.zip
testing/data/table/*
!testing/data/table/.gitkeep
!testing/data/table/Safer Data Catalog.xlsx

## Ignore Tool Outputs
outputs/CompareMetadata/*
outputs/CompareSpatialReferences/*
outputs/CompareStorageLocations/*
outputs/GetFeatureClassDates/*
outputs/UpdateMetadata/*
outputs/UpdateServiceMetadataBatch/*
outputs/AppendiciesReports/*
outputs/BackupServices/*

!outputs/CompareMetadata/.gitkeep
!outputs/CompareSpatialReferences/.gitkeep
!outputs/CompareStorageLocations/.gitkeep
!outputs/GetFeatureClassDates/.gitkeep
!outputs/UpdateMetadata/.gitkeep
!outputs/UpdateServiceMetadataBatch/.gitkeep
!outputs/BackupServices/.gitkeep
!outputs/AppendiciesReports/.gitkeep
!outputs/.gitkeep


## Ignore Logs
logs/CompareMetadata/*
logs/CompareSpatialReferences/*
logs/CompareStorageLocations/*
logs/GetFeatureClassDates/*
logs/UpdateMetadata/*
logs/BackupServices/*
logs/UpdateServiceMetadataBatch/*
logs/AppendiciesReport/*

!logs/CompareMetadata/.gitkeep
!logs/CompareSpatialReferences/.gitkeep
!logs/CompareStorageLocations/.gitkeep
!logs/GetFeatureClassDates/.gitkeep
!logs/UpdateMetadata/.gitkeep
!logs/BackupServices/.gitkeep
!logs/UpdateServiceMetadataBatch/.gitkeep
!logs/.gitkeep



## Ignore all Standalone Scripts Except for the Zipped File
standalone/SCRIPT_*

!.standalone_.zip
